Playbooks/Copilot-SendSummaryToJira/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Copilot-SendSummaryToJira",
            "type":  "string"
        }
    },
    "variables":  {
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
        "JiraConnectionName":  "[concat('Jira-', parameters('PlaybookName'))]",
        "SecuritycopilotConnectionName":  "[concat('Securitycopilot-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Microsoft_Sentinel_incident":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path":  "/incident-creation"
                            }
                        }
                    },
                    "actions":  {
                        "Create_a_new_issue_(V3)":  {
                            "runAfter":  {
                                "Parse_JSON_2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "headers":  {
                                    "X-Request-Jirainstance":  "ss"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['jira']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/v3/issue",
                                "queries":  {
                                    "issueTypeIds":  "111",
                                    "projectKey":  "sss"
                                }
                            }
                        },
                        "Parse_JSON":  {
                            "runAfter":  {
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@triggerBody()",
                                "schema":  {
                                    "properties":  {
                                        "eventUniqueId":  {
                                            "type":  "string"
                                        },
                                        "object":  {
                                            "properties":  {
                                                "etag":  {
                                                    "type":  "string"
                                                },
                                                "id":  {
                                                    "type":  "string"
                                                },
                                                "name":  {
                                                    "type":  "string"
                                                },
                                                "properties":  {
                                                    "properties":  {
                                                        "additionalData":  {
                                                            "properties":  {
                                                                "alertProductNames":  {
                                                                    "items":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "type":  "array"
                                                                },
                                                                "alertsCount":  {
                                                                    "type":  "integer"
                                                                },
                                                                "bookmarksCount":  {
                                                                    "type":  "integer"
                                                                },
                                                                "commentsCount":  {
                                                                    "type":  "integer"
                                                                },
                                                                "tactics":  {
                                                                    "items":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "type":  "array"
                                                                },
                                                                "techniques":  {
                                                                    "type":  "array"
                                                                }
                                                            },
                                                            "type":  "object"
                                                        },
                                                        "alerts":  {
                                                            "items":  {
                                                                "properties":  {
                                                                    "id":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "kind":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "name":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "properties":  {
                                                                        "properties":  {
                                                                            "additionalData":  {
                                                                                "properties":  {
                                                                                    "Alert generation status":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Analytic Rule Ids":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Analytic Rule Name":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Correlation Id":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Data Sources":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Event Grouping":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "ProcessedBySentinel":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Query":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Query End Time UTC":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Query Period":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Query Start Time UTC":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Search Query Results Overall Count":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Trigger Operator":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Trigger Threshold":  {
                                                                                        "type":  "string"
                                                                                    }
                                                                                },
                                                                                "type":  "object"
                                                                            },
                                                                            "alertDisplayName":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "alertType":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "confidenceLevel":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "description":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "endTimeUtc":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "friendlyName":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "processingEndTime":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "productComponentName":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "productName":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "providerAlertId":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "resourceIdentifiers":  {
                                                                                "items":  {
                                                                                    "properties":  {
                                                                                        "type":  {
                                                                                            "type":  "string"
                                                                                        },
                                                                                        "workspaceId":  {
                                                                                            "type":  "string"
                                                                                        }
                                                                                    },
                                                                                    "required":  [
                                                                                        "type",
                                                                                        "workspaceId"
                                                                                    ],
                                                                                    "type":  "object"
                                                                                },
                                                                                "type":  "array"
                                                                            },
                                                                            "severity":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "startTimeUtc":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "status":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "systemAlertId":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "tactics":  {
                                                                                "items":  {
                                                                                    "type":  "string"
                                                                                },
                                                                                "type":  "array"
                                                                            },
                                                                            "timeGenerated":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "vendorName":  {
                                                                                "type":  "string"
                                                                            }
                                                                        },
                                                                        "type":  "object"
                                                                    },
                                                                    "type":  {
                                                                        "type":  "string"
                                                                    }
                                                                },
                                                                "required":  [
                                                                    "id",
                                                                    "name",
                                                                    "type",
                                                                    "kind",
                                                                    "properties"
                                                                ],
                                                                "type":  "object"
                                                            },
                                                            "type":  "array"
                                                        },
                                                        "bookmarks":  {
                                                            "type":  "array"
                                                        },
                                                        "comments":  {
                                                            "type":  "array"
                                                        },
                                                        "createdTimeUtc":  {
                                                            "type":  "string"
                                                        },
                                                        "description":  {
                                                            "type":  "string"
                                                        },
                                                        "firstActivityTimeUtc":  {
                                                            "type":  "string"
                                                        },
                                                        "incidentNumber":  {
                                                            "type":  "integer"
                                                        },
                                                        "incidentUrl":  {
                                                            "type":  "string"
                                                        },
                                                        "labels":  {
                                                            "type":  "array"
                                                        },
                                                        "lastActivityTimeUtc":  {
                                                            "type":  "string"
                                                        },
                                                        "lastModifiedTimeUtc":  {
                                                            "type":  "string"
                                                        },
                                                        "owner":  {
                                                            "properties":  {
                                                                "assignedTo":  {
                                                                },
                                                                "email":  {
                                                                },
                                                                "objectId":  {
                                                                },
                                                                "userPrincipalName":  {
                                                                }
                                                            },
                                                            "type":  "object"
                                                        },
                                                        "providerIncidentId":  {
                                                            "type":  "string"
                                                        },
                                                        "providerName":  {
                                                            "type":  "string"
                                                        },
                                                        "relatedAnalyticRuleIds":  {
                                                            "items":  {
                                                                "type":  "string"
                                                            },
                                                            "type":  "array"
                                                        },
                                                        "relatedEntities":  {
                                                            "items":  {
                                                                "properties":  {
                                                                    "id":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "kind":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "name":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "properties":  {
                                                                        "properties":  {
                                                                            "address":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "friendlyName":  {
                                                                                "type":  "string"
                                                                            }
                                                                        },
                                                                        "type":  "object"
                                                                    },
                                                                    "type":  {
                                                                        "type":  "string"
                                                                    }
                                                                },
                                                                "required":  [
                                                                    "id",
                                                                    "name",
                                                                    "type",
                                                                    "kind",
                                                                    "properties"
                                                                ],
                                                                "type":  "object"
                                                            },
                                                            "type":  "array"
                                                        },
                                                        "severity":  {
                                                            "type":  "string"
                                                        },
                                                        "status":  {
                                                            "type":  "string"
                                                        },
                                                        "title":  {
                                                            "type":  "string"
                                                        }
                                                    },
                                                    "type":  "object"
                                                },
                                                "type":  {
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        },
                                        "objectEventType":  {
                                            "type":  "string"
                                        },
                                        "objectSchemaType":  {
                                            "type":  "string"
                                        },
                                        "workspaceId":  {
                                            "type":  "string"
                                        },
                                        "workspaceInfo":  {
                                            "properties":  {
                                                "ResourceGroupName":  {
                                                    "type":  "string"
                                                },
                                                "SubscriptionId":  {
                                                    "type":  "string"
                                                },
                                                "WorkspaceName":  {
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Parse_JSON_2":  {
                            "runAfter":  {
                                "Run_Copilot_for_Security_prompt":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@body('Run_Copilot_for_Security_prompt')",
                                "schema":  {
                                    "properties":  {
                                        "Evaluation Result Content":  {
                                            "type":  "string"
                                        },
                                        "Evaluation Result Type":  {
                                            "type":  "string"
                                        },
                                        "Prompt Content":  {
                                            "type":  "string"
                                        },
                                        "SessionId":  {
                                            "type":  "string"
                                        },
                                        "Skill Name":  {
                                        },
                                        "Skill Sources":  {
                                            "type":  "array"
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Run_Copilot_for_Security_prompt":  {
                            "runAfter":  {
                                "Parse_JSON":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "/GetSentinelIncident Summarize Sentinel Incident @{body('Parse_JSON')?['object']?['properties']?['incidentNumber']} The results from this response will be used in an automation workflow that only accepts only html structure and tags, \nProvide the report as html tags only, add the incident id as h2 tag, format the incident details as table, include in this table a direct link to Senintel portal in \nFinally use html CSS that will include our organization look and feel that is on color green, add this colors as all the titles and use the color black as the reset of the content."
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuresentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftSentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                            },
                            "jira":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('JiraConnectionName'))]",
                                "connectionName":  "[variables('JiraConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Jira')]"
                            },
                            "securitycopilot":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('SecuritycopilotConnectionName'))]",
                                "connectionName":  "[variables('SecuritycopilotConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Securitycopilot')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "Created By":  "Yaniv Shasha",
                "CreatedDate":  "2/8/2024 3:44:43 AM",
                "CreatorUPN":  "yanivsh@woodgrove.ms"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('JiraConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('SecuritycopilotConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('JiraConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('JiraConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Jira')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('SecuritycopilotConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('SecuritycopilotConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Securitycopilot')]"
                }
            }
        }
    ]
}
