Logic Apps/Copilot-isUserTravel/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Copilot-isUserTravel",
            "type":  "string"
        }
    },
    "variables":  {
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]",
        "SecuritycopilotConnectionName":  "[concat('Securitycopilot-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Microsoft_Sentinel_incident":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel_1']['connectionId']"
                                    }
                                },
                                "path":  "/incident-creation"
                            }
                        }
                    },
                    "actions":  {
                        "Condition":  {
                            "actions":  {
                                "Run_Copilot_for_Security_prompt_6":  {
                                    "runAfter":  {
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  {
                                            "PromptContent":  "6. Upon contacting the user manager via email and receiving approval confirming the user's travel status, kindly reduce the severity of the incident. Additionally, generate a concise summary report incorporating the manager's response.",
                                            "SessionId":  "@body('Run_Copilot_for_Security_prompt_5')?['sessionId']"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                            }
                                        },
                                        "method":  "post",
                                        "path":  "/process-prompt"
                                    }
                                }
                            },
                            "runAfter":  {
                                "Send_approval_email":  [
                                    "Succeeded"
                                ]
                            },
                            "else":  {
                                "actions":  {
                                    "Run_Copilot_for_Security_prompt_10":  {
                                        "runAfter":  {
                                            "Run_Copilot_for_Security_prompt_9":  [
                                                "Succeeded"
                                            ]
                                        },
                                        "type":  "ApiConnection",
                                        "inputs":  {
                                            "body":  {
                                                "PromptContent":  "11. Summarize the above risk investigation and provide a Risk Report with what product provided which detection, end with if this user identity shows sign of risk. Set a new line at the bottom and state \"Take Action on User\" if risk is detected or \"No further action needed\" if no risk is present.",
                                                "SessionId":  "@body('Run_Copilot_for_Security_prompt_9')?['sessionId']"
                                            },
                                            "host":  {
                                                "connection":  {
                                                    "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                                }
                                            },
                                            "method":  "post",
                                            "path":  "/process-prompt"
                                        }
                                    },
                                    "Run_Copilot_for_Security_prompt_11":  {
                                        "runAfter":  {
                                            "Run_Copilot_for_Security_prompt_8":  [
                                                "Succeeded"
                                            ]
                                        },
                                        "type":  "ApiConnection",
                                        "inputs":  {
                                            "body":  {
                                                "PromptContent":  "8. Search the \"SecurityAlert\" table in Sentinel using the upn @{variables('user')} as input. and the full account name as another input  and provide information on any additional alerts involving this user within the last week. answer with the above fields : DisplayName , Entities , StartTime, ProviderName, Tactics , Techniques",
                                                "SessionId":  "@body('Run_Copilot_for_Security_prompt_8')?['sessionId']"
                                            },
                                            "host":  {
                                                "connection":  {
                                                    "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                                }
                                            },
                                            "method":  "post",
                                            "path":  "/process-prompt"
                                        }
                                    },
                                    "Run_Copilot_for_Security_prompt_12":  {
                                        "runAfter":  {
                                            "Run_Copilot_for_Security_prompt_11":  [
                                                "Succeeded"
                                            ]
                                        },
                                        "type":  "ApiConnection",
                                        "inputs":  {
                                            "body":  {
                                                "PromptContent":  "9. Hunt in defender and tell me the last log-in events for @{variables('user')} in the last 3 days, please return all the relevant events and include in the answer the above fields :Timestamp,LogonType,Application,ApplicationId,OSPlatform,City,IPAddress",
                                                "SessionId":  "@body('Run_Copilot_for_Security_prompt_11')?['sessionId']"
                                            },
                                            "host":  {
                                                "connection":  {
                                                    "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                                }
                                            },
                                            "method":  "post",
                                            "path":  "/process-prompt"
                                        }
                                    },
                                    "Run_Copilot_for_Security_prompt_13":  {
                                        "runAfter":  {
                                            "Run_Copilot_for_Security_prompt_10":  [
                                                "Succeeded"
                                            ]
                                        },
                                        "type":  "ApiConnection",
                                        "inputs":  {
                                            "body":  {
                                                "PromptContent":  "Compose a comprehensive incident report summarizing the investigation. This should encompass the initial incident (referenced in prompt number 1), details about entities involved, NL2KQL queries, the manager's response regarding the user's travel, and any risk calculations conducted during the process. during the compose dont include in the report the steps that involve querying IdentityInfo is it was an internal phase",
                                                "SessionId":  "@body('Run_Copilot_for_Security_prompt_10')?['sessionId']"
                                            },
                                            "host":  {
                                                "connection":  {
                                                    "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                                }
                                            },
                                            "method":  "post",
                                            "path":  "/process-prompt"
                                        }
                                    },
                                    "Run_Copilot_for_Security_prompt_8":  {
                                        "runAfter":  {
                                        },
                                        "type":  "ApiConnection",
                                        "inputs":  {
                                            "body":  {
                                                "PromptContent":  "7. Upon contacting the user manager via email and receiving answer that the user is not traveling, Get the user risk detections for user @{variables('user')}",
                                                "SessionId":  "@body('Run_Copilot_for_Security_prompt_5')?['sessionId']"
                                            },
                                            "host":  {
                                                "connection":  {
                                                    "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                                }
                                            },
                                            "method":  "post",
                                            "path":  "/process-prompt"
                                        }
                                    },
                                    "Run_Copilot_for_Security_prompt_9":  {
                                        "runAfter":  {
                                            "Run_Copilot_for_Security_prompt_12":  [
                                                "Succeeded"
                                            ]
                                        },
                                        "type":  "ApiConnection",
                                        "inputs":  {
                                            "body":  {
                                                "PromptContent":  "@variables('user')",
                                                "SessionId":  "@body('Run_Copilot_for_Security_prompt_8')?['sessionId']",
                                                "SkillName":  "GetUserRiskSummary"
                                            },
                                            "host":  {
                                                "connection":  {
                                                    "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                                }
                                            },
                                            "method":  "post",
                                            "path":  "/process-prompt"
                                        }
                                    }
                                }
                            },
                            "expression":  {
                                "and":  [
                                    {
                                        "equals":  [
                                            "@body('Send_approval_email')?['SelectedOption']",
                                            "True"
                                        ]
                                    }
                                ]
                            },
                            "type":  "If"
                        },
                        "Initialize_variable":  {
                            "runAfter":  {
                                "Parse_JSON_2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "user",
                                        "type":  "string",
                                        "value":  "@body('Parse_JSON_2')?['Evaluation Result Content']"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2":  {
                            "runAfter":  {
                                "Parse_JSON_3":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "manager",
                                        "type":  "string",
                                        "value":  "@body('Parse_JSON_3')?['Evaluation Result Content']"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON":  {
                            "runAfter":  {
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@triggerBody()",
                                "schema":  {
                                    "properties":  {
                                        "eventUniqueId":  {
                                            "type":  "string"
                                        },
                                        "object":  {
                                            "properties":  {
                                                "etag":  {
                                                    "type":  "string"
                                                },
                                                "id":  {
                                                    "type":  "string"
                                                },
                                                "name":  {
                                                    "type":  "string"
                                                },
                                                "properties":  {
                                                    "properties":  {
                                                        "additionalData":  {
                                                            "properties":  {
                                                                "alertProductNames":  {
                                                                    "items":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "type":  "array"
                                                                },
                                                                "alertsCount":  {
                                                                    "type":  "integer"
                                                                },
                                                                "bookmarksCount":  {
                                                                    "type":  "integer"
                                                                },
                                                                "commentsCount":  {
                                                                    "type":  "integer"
                                                                },
                                                                "tactics":  {
                                                                    "items":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "type":  "array"
                                                                },
                                                                "techniques":  {
                                                                    "type":  "array"
                                                                }
                                                            },
                                                            "type":  "object"
                                                        },
                                                        "alerts":  {
                                                            "items":  {
                                                                "properties":  {
                                                                    "id":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "kind":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "name":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "properties":  {
                                                                        "properties":  {
                                                                            "additionalData":  {
                                                                                "properties":  {
                                                                                    "Alert generation status":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Analytic Rule Ids":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Analytic Rule Name":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Correlation Id":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Data Sources":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Event Grouping":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "ProcessedBySentinel":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Query":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Query End Time UTC":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Query Period":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Query Start Time UTC":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Search Query Results Overall Count":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Trigger Operator":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Trigger Threshold":  {
                                                                                        "type":  "string"
                                                                                    }
                                                                                },
                                                                                "type":  "object"
                                                                            },
                                                                            "alertDisplayName":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "alertType":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "confidenceLevel":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "description":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "endTimeUtc":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "friendlyName":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "processingEndTime":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "productComponentName":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "productName":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "providerAlertId":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "resourceIdentifiers":  {
                                                                                "items":  {
                                                                                    "properties":  {
                                                                                        "type":  {
                                                                                            "type":  "string"
                                                                                        },
                                                                                        "workspaceId":  {
                                                                                            "type":  "string"
                                                                                        }
                                                                                    },
                                                                                    "required":  [
                                                                                        "type",
                                                                                        "workspaceId"
                                                                                    ],
                                                                                    "type":  "object"
                                                                                },
                                                                                "type":  "array"
                                                                            },
                                                                            "severity":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "startTimeUtc":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "status":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "systemAlertId":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "tactics":  {
                                                                                "items":  {
                                                                                    "type":  "string"
                                                                                },
                                                                                "type":  "array"
                                                                            },
                                                                            "timeGenerated":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "vendorName":  {
                                                                                "type":  "string"
                                                                            }
                                                                        },
                                                                        "type":  "object"
                                                                    },
                                                                    "type":  {
                                                                        "type":  "string"
                                                                    }
                                                                },
                                                                "required":  [
                                                                    "id",
                                                                    "name",
                                                                    "type",
                                                                    "kind",
                                                                    "properties"
                                                                ],
                                                                "type":  "object"
                                                            },
                                                            "type":  "array"
                                                        },
                                                        "bookmarks":  {
                                                            "type":  "array"
                                                        },
                                                        "comments":  {
                                                            "type":  "array"
                                                        },
                                                        "createdTimeUtc":  {
                                                            "type":  "string"
                                                        },
                                                        "description":  {
                                                            "type":  "string"
                                                        },
                                                        "firstActivityTimeUtc":  {
                                                            "type":  "string"
                                                        },
                                                        "incidentNumber":  {
                                                            "type":  "integer"
                                                        },
                                                        "incidentUrl":  {
                                                            "type":  "string"
                                                        },
                                                        "labels":  {
                                                            "type":  "array"
                                                        },
                                                        "lastActivityTimeUtc":  {
                                                            "type":  "string"
                                                        },
                                                        "lastModifiedTimeUtc":  {
                                                            "type":  "string"
                                                        },
                                                        "owner":  {
                                                            "properties":  {
                                                                "assignedTo":  {
                                                                },
                                                                "email":  {
                                                                },
                                                                "objectId":  {
                                                                },
                                                                "userPrincipalName":  {
                                                                }
                                                            },
                                                            "type":  "object"
                                                        },
                                                        "providerIncidentId":  {
                                                            "type":  "string"
                                                        },
                                                        "providerName":  {
                                                            "type":  "string"
                                                        },
                                                        "relatedAnalyticRuleIds":  {
                                                            "items":  {
                                                                "type":  "string"
                                                            },
                                                            "type":  "array"
                                                        },
                                                        "relatedEntities":  {
                                                            "items":  {
                                                                "properties":  {
                                                                    "id":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "kind":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "name":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "properties":  {
                                                                        "properties":  {
                                                                            "address":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "friendlyName":  {
                                                                                "type":  "string"
                                                                            }
                                                                        },
                                                                        "type":  "object"
                                                                    },
                                                                    "type":  {
                                                                        "type":  "string"
                                                                    }
                                                                },
                                                                "required":  [
                                                                    "id",
                                                                    "name",
                                                                    "type",
                                                                    "kind",
                                                                    "properties"
                                                                ],
                                                                "type":  "object"
                                                            },
                                                            "type":  "array"
                                                        },
                                                        "severity":  {
                                                            "type":  "string"
                                                        },
                                                        "status":  {
                                                            "type":  "string"
                                                        },
                                                        "title":  {
                                                            "type":  "string"
                                                        }
                                                    },
                                                    "type":  "object"
                                                },
                                                "type":  {
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        },
                                        "objectEventType":  {
                                            "type":  "string"
                                        },
                                        "objectSchemaType":  {
                                            "type":  "string"
                                        },
                                        "workspaceId":  {
                                            "type":  "string"
                                        },
                                        "workspaceInfo":  {
                                            "properties":  {
                                                "ResourceGroupName":  {
                                                    "type":  "string"
                                                },
                                                "SubscriptionId":  {
                                                    "type":  "string"
                                                },
                                                "WorkspaceName":  {
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Parse_JSON_2":  {
                            "runAfter":  {
                                "Run_Copilot_for_Security_prompt_4":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@body('Run_Copilot_for_Security_prompt_4')",
                                "schema":  {
                                    "properties":  {
                                        "Evaluation Result Content":  {
                                            "type":  "string"
                                        },
                                        "Evaluation Result Type":  {
                                            "type":  "string"
                                        },
                                        "Next Prompt Suggestions":  {
                                        },
                                        "Prompt Content":  {
                                            "type":  "string"
                                        },
                                        "SessionId":  {
                                            "type":  "string"
                                        },
                                        "Skill Name":  {
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Parse_JSON_3":  {
                            "runAfter":  {
                                "Run_Copilot_for_Security_prompt_5":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@body('Run_Copilot_for_Security_prompt_5')",
                                "schema":  {
                                    "properties":  {
                                        "Evaluation Result Content":  {
                                            "type":  "string"
                                        },
                                        "Evaluation Result Type":  {
                                            "type":  "string"
                                        },
                                        "Next Prompt Suggestions":  {
                                        },
                                        "Prompt Content":  {
                                            "type":  "string"
                                        },
                                        "SessionId":  {
                                            "type":  "string"
                                        },
                                        "Skill Name":  {
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Run_Copilot_for_Security_prompt":  {
                            "runAfter":  {
                                "Parse_JSON":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "1. Summarize Sentinel incident @{body('Parse_JSON')?['object']?['properties']?['incidentNumber']}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Run_Copilot_for_Security_prompt_2":  {
                            "runAfter":  {
                                "Run_Copilot_for_Security_prompt":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "2. Tell me about the entities associated with that incident. include in your answer the manager user name for the account entity",
                                    "SessionId":  "@body('Run_Copilot_for_Security_prompt')?['sessionId']"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Run_Copilot_for_Security_prompt_3":  {
                            "runAfter":  {
                                "Initialize_variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "4. what is the user manager name? ",
                                    "SessionId":  "@body('Run_Copilot_for_Security_prompt_2')?['sessionId']"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Run_Copilot_for_Security_prompt_4":  {
                            "runAfter":  {
                                "Run_Copilot_for_Security_prompt_2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "3. what is the user upn? The results from this response will be used in an automation workflow that only accepts a single string. Provide the user UPN in a response with no text before or after",
                                    "SessionId":  "@body('Run_Copilot_for_Security_prompt_2')?['sessionId']"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Run_Copilot_for_Security_prompt_5":  {
                            "runAfter":  {
                                "Run_Copilot_for_Security_prompt_7":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "from the above response take the user manager email address, will be used in an automation workflow that only accepts a single string. Provide the user manager , email address in a response with no text before or after\n",
                                    "SessionId":  "@body('Run_Copilot_for_Security_prompt_3')?['sessionId']"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Run_Copilot_for_Security_prompt_7":  {
                            "runAfter":  {
                                "Run_Copilot_for_Security_prompt_3":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "5. Hunt in defender and examine the \"IdentityInfo\" table. use as Input need the manager name as field AccountName and retrieve information on the corresponding manager, including the manager's UPN (User Principal Name). Please provide the answer along with the manager's UPN",
                                    "SessionId":  "@body('Run_Copilot_for_Security_prompt_3')?['sessionId']"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Send_approval_email":  {
                            "runAfter":  {
                                "Initialize_variable_2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "Message":  {
                                        "Body":  "we received a security incident involving one of your direct report and needs important answer to help us progress with our investigation\nplease let us know if @{variables('user')} is currently traveling?",
                                        "HideHTMLMessage":  false,
                                        "Importance":  "Normal",
                                        "Options":  "True, False",
                                        "ShowHTMLConfirmationDialog":  false,
                                        "Subject":  "Is @{variables('user')} is traveling? ",
                                        "To":  "@variables('manager')"
                                    },
                                    "NotificationUrl":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "path":  "/approvalmail/$subscriptions"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuresentinel_1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftSentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                            },
                            "office365":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            },
                            "securitycopilot":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('SecuritycopilotConnectionName'))]",
                                "connectionName":  "[variables('SecuritycopilotConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Securitycopilot')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "Created By":  "Yaniv Shasha",
                "CreatedDate":  "1/8/2024 4:51:48 AM",
                "CreatorUPN":  "yanivsh@woodgrove.ms"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('SecuritycopilotConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('SecuritycopilotConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('SecuritycopilotConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Securitycopilot')]"
                }
            }
        }
    ]
}
