Logic Apps/InvestigateFailedSignins/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "InvestigateFailedSignIns",
            "type":  "string"
        },
        "email":  {
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for email"
            }
        }
    },
    "variables":  {
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]",
        "SecuritycopilotConnectionName":  "[concat('Securitycopilot-', parameters('PlaybookName'))]",
        "TeamsConnectionName":  "[concat('Teams-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        },
                        "email":  {
                            "defaultValue":  "[parameters('email')]",
                            "type":  "string"
                        }
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "frequency":  "Day",
                                "interval":  1
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Day",
                                "interval":  1
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "Compose_3":  {
                            "runAfter":  {
                                "Create_HTML_table_2":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Compose",
                            "inputs":  "\u003chtml\u003e\n\u003cstyle\u003e\n#testID table, table th, table td {border: 1px solid #000}\n\u003c/style\u003e\n\u003cdiv id=\"testID\"\u003e\n@{body('Create_HTML_table_2')}\n\u003c/div\u003e\n\u003c/html\u003e"
                        },
                        "Create_HTML_table_2":  {
                            "runAfter":  {
                                "Details_on_associated_IP_address":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Table",
                            "inputs":  {
                                "format":  "HTML",
                                "from":  "@body('Parse_JSON_3')?['json']"
                            }
                        },
                        "Details_on_associated_IP_address":  {
                            "actions":  {
                                "Compose_4":  {
                                    "runAfter":  {
                                        "Parse_JSON_2":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Compose",
                                    "inputs":  "@body('Parse_JSON_2')?['Evaluation Result Content']"
                                },
                                "Compose_5":  {
                                    "runAfter":  {
                                        "Compose_4":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Compose",
                                    "inputs":  "@decodeUriComponent(replace(encodeUriComponent(outputs('Compose_4')), '%0A', '%3Cbr%3E'))"
                                },
                                "Parse_JSON_2":  {
                                    "runAfter":  {
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('Run_Reputation_Scoring_for_IP_addresses_associated_with_Sign_Ins')",
                                        "schema":  {
                                            "properties":  {
                                                "Evaluation Result Content":  {
                                                    "type":  "string"
                                                },
                                                "Evaluation Result Type":  {
                                                    "type":  "string"
                                                },
                                                "Prompt Content":  {
                                                    "type":  "string"
                                                },
                                                "SessionId":  {
                                                    "type":  "string"
                                                },
                                                "Skill Name":  {
                                                },
                                                "Skill Sources":  {
                                                    "type":  "array"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                }
                            },
                            "runAfter":  {
                                "Parse_output_in_JSON_FORMAT":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Scope"
                        },
                        "Parse_Recommendations_from_Security_Copilot":  {
                            "actions":  {
                                "Compose_6":  {
                                    "runAfter":  {
                                        "Compose_summary_Recommendations":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Compose",
                                    "inputs":  "@decodeUriComponent(replace(encodeUriComponent(outputs('Compose_summary_Recommendations')), '%0A', '%3Cbr%3E'))"
                                },
                                "Compose_summary_Recommendations":  {
                                    "runAfter":  {
                                        "Parse_JSON_4":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Compose",
                                    "inputs":  "@body('Parse_JSON_4')?['Evaluation Result Content']"
                                },
                                "Parse_JSON_4":  {
                                    "runAfter":  {
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('Summary_and_recommendations')",
                                        "schema":  {
                                            "properties":  {
                                                "Evaluation Result Content":  {
                                                    "type":  "string"
                                                },
                                                "Evaluation Result Type":  {
                                                    "type":  "string"
                                                },
                                                "Prompt Content":  {
                                                    "type":  "string"
                                                },
                                                "SessionId":  {
                                                    "type":  "string"
                                                },
                                                "Skill Name":  {
                                                },
                                                "Skill Sources":  {
                                                    "type":  "array"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                }
                            },
                            "runAfter":  {
                                "Running_the_Copilot_for_Security_Prompts":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Scope"
                        },
                        "Parse_output_in_JSON_FORMAT":  {
                            "actions":  {
                                "Compose":  {
                                    "runAfter":  {
                                        "Parse_JSON":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Compose",
                                    "inputs":  "@body('Parse_JSON')?['Evaluation Result Content']"
                                },
                                "Compose_2":  {
                                    "runAfter":  {
                                        "Compose":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Compose",
                                    "inputs":  "{\"json\": [@{last(split(first(split(outputs('Compose'),']')),'['))}]}"
                                },
                                "Parse_JSON":  {
                                    "runAfter":  {
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('Pull_the_result_in_JSON_Format')",
                                        "schema":  {
                                            "properties":  {
                                                "Evaluation Result Content":  {
                                                    "type":  "string"
                                                },
                                                "Evaluation Result Type":  {
                                                    "type":  "string"
                                                },
                                                "Prompt Content":  {
                                                    "type":  "string"
                                                },
                                                "SessionId":  {
                                                    "type":  "string"
                                                },
                                                "Skill Name":  {
                                                },
                                                "Skill Sources":  {
                                                    "type":  "array"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                },
                                "Parse_JSON_3":  {
                                    "runAfter":  {
                                        "Compose_2":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@json(outputs('Compose_2'))",
                                        "schema":  {
                                            "properties":  {
                                                "json":  {
                                                    "items":  {
                                                        "properties":  {
                                                            "ClientAppUsed":  {
                                                                "type":  "string"
                                                            },
                                                            "IPAddress":  {
                                                                "type":  "string"
                                                            },
                                                            "Identity":  {
                                                                "type":  "string"
                                                            },
                                                            "Location":  {
                                                                "type":  "string"
                                                            },
                                                            "SignInCount":  {
                                                                "type":  "integer"
                                                            }
                                                        },
                                                        "required":  [
                                                            "Identity",
                                                            "IPAddress",
                                                            "Location",
                                                            "ClientAppUsed",
                                                            "SignInCount"
                                                        ],
                                                        "type":  "object"
                                                    },
                                                    "type":  "array"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                }
                            },
                            "runAfter":  {
                                "Parse_Recommendations_from_Security_Copilot":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Scope"
                        },
                        "Post_message_in_a_chat_or_channel":  {
                            "runAfter":  {
                                "Send_an_email_(V2)":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "messageBody":  "\u003cp\u003e\u003cbr\u003e\n\u003c/p\u003e",
                                    "recipient":  {
                                        "channelId":  "19:6e707983d17d4e2dbb165aa7aa0fedf7@thread.skype",
                                        "groupId":  "7cc3d35a-37f2-4d8a-807a-817de6f482e4"
                                    }
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['teams']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Channel')}"
                            }
                        },
                        "Running_the_Copilot_for_Security_Prompts":  {
                            "actions":  {
                                "Check_User_Authentication_methods":  {
                                    "runAfter":  {
                                        "Check_if_customer_is_associated_on_Security_Groups_on_Entra":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  {
                                            "PromptContent":  "Can you check the authentication methods of the user and if they have MFA enabled",
                                            "SessionId":  "@body('Check_if_customer_is_associated_on_Security_Groups_on_Entra')?['sessionId']",
                                            "SkillName":  "GetUserRiskSummary"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                            }
                                        },
                                        "method":  "post",
                                        "path":  "/process-prompt"
                                    }
                                },
                                "Check_if_customer_is_associated_on_Security_Groups_on_Entra":  {
                                    "runAfter":  {
                                        "Run_Reputation_Scoring_for_IP_addresses_associated_with_Sign_Ins":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  {
                                            "PromptContent":  "Determine whether the users mentioned above belong to any security groups on Entra",
                                            "SessionId":  "@body('Run_Reputation_Scoring_for_IP_addresses_associated_with_Sign_Ins')?['sessionId']"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                            }
                                        },
                                        "method":  "post",
                                        "path":  "/process-prompt"
                                    }
                                },
                                "Device_query_and_compliance_view":  {
                                    "runAfter":  {
                                        "Check_User_Authentication_methods":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  {
                                            "PromptContent":  "Check and see if these users have devices associated with them on intune",
                                            "SessionId":  "@body('Check_User_Authentication_methods')?['sessionId']"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                            }
                                        },
                                        "method":  "post",
                                        "path":  "/process-prompt"
                                    }
                                },
                                "Pull_the_result_in_JSON_Format":  {
                                    "runAfter":  {
                                        "Run_KQL_query_to_identify_Failed_sign_ins":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  {
                                            "PromptContent":  "/AskGPT Provide a representation of the above table result in JSON FORMAT  of the top 5  records",
                                            "SessionId":  "@body('Run_KQL_query_to_identify_Failed_sign_ins')?['sessionId']"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                            }
                                        },
                                        "method":  "post",
                                        "path":  "/process-prompt"
                                    }
                                },
                                "Run_KQL_query_to_identify_Failed_sign_ins":  {
                                    "runAfter":  {
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  {
                                            "PromptContent":  "SigninLogs | where TimeGenerated \u003e= ago(24h) // Filter events in the last 24 hours | summarize SignInCount = count() by Identity, IPAddress, Location, ClientAppUsed | extend AbnormalSignIn = SignInCount \u003e 3 // Set your own threshold for abnormal sign-ins | project Identity, IPAddress, AbnormalSignIn, Location, ClientAppUsed, SignInCount | where AbnormalSignIn == true | sort by SignInCount"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                            }
                                        },
                                        "method":  "post",
                                        "path":  "/process-prompt"
                                    }
                                },
                                "Run_Reputation_Scoring_for_IP_addresses_associated_with_Sign_Ins":  {
                                    "runAfter":  {
                                        "Pull_the_result_in_JSON_Format":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  {
                                            "PromptContent":  "Run Reputation scoring and Geo location for the IP addresses Identified in the Prompt above",
                                            "SessionId":  "@body('Pull_the_result_in_JSON_Format')?['sessionId']"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                            }
                                        },
                                        "method":  "post",
                                        "path":  "/process-prompt"
                                    }
                                },
                                "Summary_and_recommendations":  {
                                    "runAfter":  {
                                        "Device_query_and_compliance_view":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  {
                                            "PromptContent":  "/AskGPT Utilizing the findings from the aforementioned investigation, please assess whether these users pose a potential risk warranting further scrutiny due to anomalous sign-ins. Consider factors such as sign-in details, association with security groups, associated IPs,Authentication methods and any other relevant indicators. Summarize the risk level into a percentage scale, where 0-30% denotes it as Neutral status, 30%-50% categorizes as Low risk, 50%-74% as Medium risk, and anything exceeding 75% falls under the High-risk category, loop in some recommendations if you can. Present the rationale for your assessment in a bullet points and table format",
                                            "SessionId":  "@body('Device_query_and_compliance_view')?['sessionId']"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['securitycopilot']['connectionId']"
                                            }
                                        },
                                        "method":  "post",
                                        "path":  "/process-prompt"
                                    }
                                }
                            },
                            "runAfter":  {
                            },
                            "type":  "Scope"
                        },
                        "Send_an_email_(V2)":  {
                            "runAfter":  {
                                "Compose_3":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "Body":  "\u003cp\u003e\u003cspan style=\"font-size: 16px\"\u003e\u003cu\u003eReport Summary / Recommendations\u003c/u\u003e\u003c/span\u003e\u003cstrong\u003e\u003cbr\u003e\n\u003c/strong\u003e@{outputs('Compose_6')}\u003cbr\u003e\n\u003cstrong\u003e\u003cbr\u003e\n\u003c/strong\u003e\u003cspan style=\"font-size: 14px\"\u003e\u003cu\u003eIdenities Targeted\u003c/u\u003e\u003c/span\u003e\u003cbr\u003e\n\u003cstrong\u003e\u003c/strong\u003e\u003cstrong\u003e@{outputs('Compose_3')}\u003c/strong\u003e\u003cstrong\u003e\u003cbr\u003e\n\u003c/strong\u003e\u003cspan style=\"font-size: 14px\"\u003e\u003cu\u003eIP address Details\u003c/u\u003e\u003c/span\u003e\u003cbr\u003e\n@{outputs('Compose_5')}\u003cbr\u003e\n\u003c/p\u003e",
                                    "Importance":  "Normal",
                                    "Subject":  "Summary of Abnormal Failed Sign ins over the last 24 hours",
                                    "To":  "@parameters('email')"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/v2/Mail"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "office365":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            },
                            "securitycopilot":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('SecuritycopilotConnectionName'))]",
                                "connectionName":  "[variables('SecuritycopilotConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Securitycopilot')]"
                            },
                            "teams":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                                "connectionName":  "[variables('TeamsConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Teams')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "Created By":  "Sean Wesonga",
                "CreatedDate":  "1/9/2024 2:23:55 PM",
                "CreatorUPN":  "sewasong@woodgrove.ms"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('SecuritycopilotConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('SecuritycopilotConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('SecuritycopilotConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Securitycopilot')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('TeamsConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('TeamsConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Teams')]"
                }
            }
        }
    ]
}
