Logic Apps/Copilot-Sentinel_investigation-DynamicSev/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Copilot-Sentinelinvestigation-DynamicSev",
            "type":  "string"
        }
    },
    "variables":  {
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
        "SecuritycopilotConnectionName":  "[concat('Securitycopilot-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Microsoft_Sentinel_incident":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path":  "/incident-creation"
                            }
                        }
                    },
                    "actions":  {
                        "Add_comment_to_incident_(V3)":  {
                            "runAfter":  {
                                "Create_HTML_table":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                    "message":  "\u003cp\u003e@{body('Create_HTML_table')}\u003c/p\u003e"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/Incidents/Comment"
                            }
                        },
                        "Compose":  {
                            "runAfter":  {
                                "Tags_collection":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Compose",
                            "inputs":  "@split(body('Tags_collection')?['EvaluationResultContent'],',')"
                        },
                        "Create_HTML_table":  {
                            "runAfter":  {
                                "Select":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Table",
                            "inputs":  {
                                "format":  "HTML",
                                "from":  "@body('Select')"
                            }
                        },
                        "Explain_classify":  {
                            "runAfter":  {
                                "Switch":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Explain why you selected this classifiction.? Format as bullet points",
                                    "SessionId":  "@body('classify_incident')?['sessionId']",
                                    "SkillName":  "SummarizeData"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "GeUserDetails":  {
                            "runAfter":  {
                                "GetReputationsByIpAddresses":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Show the authentication methods setup for each user involved in that incident. Especially indicate whether they have MFA enabled.",
                                    "SessionId":  "@body('GetReputationsByIpAddresses')?['sessionId']",
                                    "SkillName":  "GetEntraUserDetails"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "GetIncidentEntities":  {
                            "runAfter":  {
                                "GetSentinelIncident":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Tell me about the entities associated with that incident.",
                                    "SessionId":  "@body('GetSentinelIncident')?['sessionId']",
                                    "SkillName":  "GetIncidentEntities"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "GetIntuneDevices":  {
                            "runAfter":  {
                                "GeUserDetails":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "If a user is listed in the incident details, show which devices they have used recently and indicate whether they are compliant with policies. also show details from Intune on the one that checked in most recently. Especially indicate if it is current on all operating system updates.",
                                    "SessionId":  "@body('GeUserDetails')?['sessionId']",
                                    "SkillName":  "GetIntuneDevices"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "GetReputationsByIpAddresses":  {
                            "runAfter":  {
                                "GetIncidentEntities":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "What are the reputation score for the IPv4 addresses on that incident?",
                                    "SessionId":  "@body('GetIncidentEntities')?['sessionId']",
                                    "SkillName":  "GetReputationsForIndicators"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "GetSentinelIncident":  {
                            "runAfter":  {
                                "Parse_JSON":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Summarize Sentinel Incident @{body('Parse_JSON')?['object']?['properties']?['incidentNumber']}",
                                    "SkillName":  "GetSentinelIncident"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Initialize_variable":  {
                            "runAfter":  {
                                "Report":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "summrize_report",
                                        "type":  "string",
                                        "value":  "@body('Report')?['EvaluationResultContent']"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_2":  {
                            "runAfter":  {
                                "classify_incident":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "sev",
                                        "type":  "string",
                                        "value":  "@trim(body('classify_incident')?['EvaluationResultContent'])"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON":  {
                            "runAfter":  {
                                "Update_incident":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@triggerBody()",
                                "schema":  {
                                    "properties":  {
                                        "eventUniqueId":  {
                                            "type":  "string"
                                        },
                                        "object":  {
                                            "properties":  {
                                                "etag":  {
                                                    "type":  "string"
                                                },
                                                "id":  {
                                                    "type":  "string"
                                                },
                                                "name":  {
                                                    "type":  "string"
                                                },
                                                "properties":  {
                                                    "properties":  {
                                                        "additionalData":  {
                                                            "properties":  {
                                                                "alertProductNames":  {
                                                                    "items":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "type":  "array"
                                                                },
                                                                "alertsCount":  {
                                                                    "type":  "integer"
                                                                },
                                                                "bookmarksCount":  {
                                                                    "type":  "integer"
                                                                },
                                                                "commentsCount":  {
                                                                    "type":  "integer"
                                                                },
                                                                "tactics":  {
                                                                    "items":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "type":  "array"
                                                                },
                                                                "techniques":  {
                                                                    "type":  "array"
                                                                }
                                                            },
                                                            "type":  "object"
                                                        },
                                                        "alerts":  {
                                                            "items":  {
                                                                "properties":  {
                                                                    "id":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "kind":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "name":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "properties":  {
                                                                        "properties":  {
                                                                            "additionalData":  {
                                                                                "properties":  {
                                                                                    "Alert generation status":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Analytic Rule Ids":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Analytic Rule Name":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Correlation Id":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Data Sources":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Event Grouping":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "ProcessedBySentinel":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Query":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Query End Time UTC":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Query Period":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Query Start Time UTC":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Search Query Results Overall Count":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Trigger Operator":  {
                                                                                        "type":  "string"
                                                                                    },
                                                                                    "Trigger Threshold":  {
                                                                                        "type":  "string"
                                                                                    }
                                                                                },
                                                                                "type":  "object"
                                                                            },
                                                                            "alertDisplayName":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "alertType":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "confidenceLevel":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "description":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "endTimeUtc":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "friendlyName":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "processingEndTime":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "productComponentName":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "productName":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "providerAlertId":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "resourceIdentifiers":  {
                                                                                "items":  {
                                                                                    "properties":  {
                                                                                        "type":  {
                                                                                            "type":  "string"
                                                                                        },
                                                                                        "workspaceId":  {
                                                                                            "type":  "string"
                                                                                        }
                                                                                    },
                                                                                    "required":  [
                                                                                        "type",
                                                                                        "workspaceId"
                                                                                    ],
                                                                                    "type":  "object"
                                                                                },
                                                                                "type":  "array"
                                                                            },
                                                                            "severity":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "startTimeUtc":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "status":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "systemAlertId":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "tactics":  {
                                                                                "items":  {
                                                                                    "type":  "string"
                                                                                },
                                                                                "type":  "array"
                                                                            },
                                                                            "timeGenerated":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "vendorName":  {
                                                                                "type":  "string"
                                                                            }
                                                                        },
                                                                        "type":  "object"
                                                                    },
                                                                    "type":  {
                                                                        "type":  "string"
                                                                    }
                                                                },
                                                                "required":  [
                                                                    "id",
                                                                    "name",
                                                                    "type",
                                                                    "kind",
                                                                    "properties"
                                                                ],
                                                                "type":  "object"
                                                            },
                                                            "type":  "array"
                                                        },
                                                        "bookmarks":  {
                                                            "type":  "array"
                                                        },
                                                        "comments":  {
                                                            "type":  "array"
                                                        },
                                                        "createdTimeUtc":  {
                                                            "type":  "string"
                                                        },
                                                        "description":  {
                                                            "type":  "string"
                                                        },
                                                        "firstActivityTimeUtc":  {
                                                            "type":  "string"
                                                        },
                                                        "incidentNumber":  {
                                                            "type":  "integer"
                                                        },
                                                        "incidentUrl":  {
                                                            "type":  "string"
                                                        },
                                                        "labels":  {
                                                            "type":  "array"
                                                        },
                                                        "lastActivityTimeUtc":  {
                                                            "type":  "string"
                                                        },
                                                        "lastModifiedTimeUtc":  {
                                                            "type":  "string"
                                                        },
                                                        "owner":  {
                                                            "properties":  {
                                                                "assignedTo":  {
                                                                },
                                                                "email":  {
                                                                },
                                                                "objectId":  {
                                                                },
                                                                "userPrincipalName":  {
                                                                }
                                                            },
                                                            "type":  "object"
                                                        },
                                                        "providerIncidentId":  {
                                                            "type":  "string"
                                                        },
                                                        "providerName":  {
                                                            "type":  "string"
                                                        },
                                                        "relatedAnalyticRuleIds":  {
                                                            "items":  {
                                                                "type":  "string"
                                                            },
                                                            "type":  "array"
                                                        },
                                                        "relatedEntities":  {
                                                            "items":  {
                                                                "properties":  {
                                                                    "id":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "kind":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "name":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "properties":  {
                                                                        "properties":  {
                                                                            "address":  {
                                                                                "type":  "string"
                                                                            },
                                                                            "friendlyName":  {
                                                                                "type":  "string"
                                                                            }
                                                                        },
                                                                        "type":  "object"
                                                                    },
                                                                    "type":  {
                                                                        "type":  "string"
                                                                    }
                                                                },
                                                                "required":  [
                                                                    "id",
                                                                    "name",
                                                                    "type",
                                                                    "kind",
                                                                    "properties"
                                                                ],
                                                                "type":  "object"
                                                            },
                                                            "type":  "array"
                                                        },
                                                        "severity":  {
                                                            "type":  "string"
                                                        },
                                                        "status":  {
                                                            "type":  "string"
                                                        },
                                                        "title":  {
                                                            "type":  "string"
                                                        }
                                                    },
                                                    "type":  "object"
                                                },
                                                "type":  {
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        },
                                        "objectEventType":  {
                                            "type":  "string"
                                        },
                                        "objectSchemaType":  {
                                            "type":  "string"
                                        },
                                        "workspaceId":  {
                                            "type":  "string"
                                        },
                                        "workspaceInfo":  {
                                            "properties":  {
                                                "ResourceGroupName":  {
                                                    "type":  "string"
                                                },
                                                "SubscriptionId":  {
                                                    "type":  "string"
                                                },
                                                "WorkspaceName":  {
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Report":  {
                            "runAfter":  {
                                "GetIntuneDevices":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Write a report based on this investigation. Lead with your assessment of the incident and supporting evidence for your conclusion with a confidence level, including whether or not this incident is likely to be a true positive. Conclude with a set of recommendations.",
                                    "SessionId":  "@body('GetIntuneDevices')?['sessionId']",
                                    "SkillName":  "SummarizeData"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Report_answer":  {
                            "runAfter":  {
                                "adding_tags_for_the_incident":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Answer",
                                        "type":  "array",
                                        "value":  "@array(body('Tags_collection')?['EvaluationResultContent'])"
                                    }
                                ]
                            }
                        },
                        "Select":  {
                            "runAfter":  {
                                "Report_answer":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Select",
                            "inputs":  {
                                "from":  "@variables('Answer')",
                                "select":  {
                                    "Copilot Report":  "@variables('summrize_report')",
                                    "Explain Classify":  "@variables('classified explain')"
                                }
                            }
                        },
                        "Switch":  {
                            "runAfter":  {
                                "Initialize_variable_2":  [
                                    "Succeeded"
                                ]
                            },
                            "cases":  {
                                "Case-High":  {
                                    "case":  "high",
                                    "actions":  {
                                        "Update_incident_2":  {
                                            "runAfter":  {
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "body":  {
                                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                    "severity":  "High",
                                                    "status":  "Active"
                                                },
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method":  "put",
                                                "path":  "/Incidents"
                                            }
                                        }
                                    }
                                },
                                "Case-Medium":  {
                                    "case":  "medium",
                                    "actions":  {
                                        "Update_incident_3":  {
                                            "runAfter":  {
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "body":  {
                                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                    "severity":  "Medium",
                                                    "status":  "Active"
                                                },
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method":  "put",
                                                "path":  "/Incidents"
                                            }
                                        }
                                    }
                                },
                                "Case_-Low":  {
                                    "case":  "low",
                                    "actions":  {
                                        "Update_incident_4":  {
                                            "runAfter":  {
                                            },
                                            "type":  "ApiConnection",
                                            "inputs":  {
                                                "body":  {
                                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                    "severity":  "Low",
                                                    "status":  "Active"
                                                },
                                                "host":  {
                                                    "connection":  {
                                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method":  "put",
                                                "path":  "/Incidents"
                                            }
                                        }
                                    }
                                }
                            },
                            "default":  {
                                "actions":  {
                                }
                            },
                            "expression":  "@toLower(variables('sev'))",
                            "type":  "Switch"
                        },
                        "Tags_collection":  {
                            "runAfter":  {
                                "classified_explain":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Derive a set of tags (5 tags) to describe this incident. the Tags will be used to group other incidents, include a tag for \"Security Copilot Triaged\", only respond with the category, write it as single line with comma between Tags to tags, and dont add bullet points.",
                                    "SessionId":  "@body('Explain_classify')?['sessionId']",
                                    "SkillName":  "SummarizeData"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Update_incident":  {
                            "runAfter":  {
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                    "status":  "Active"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "put",
                                "path":  "/Incidents"
                            }
                        },
                        "adding_tags_for_the_incident":  {
                            "runAfter":  {
                                "arrayTags":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "incidentArmId":  "@triggerBody()?['object']?['id']",
                                    "tagsToAdd":  {
                                        "TagsToAdd":  [
                                            {
                                                "Tag":  "@{toLower(variables('composeArray')[0])}"
                                            },
                                            {
                                                "Tag":  "@{toLower(variables('composeArray')[1])}"
                                            },
                                            {
                                                "Tag":  "@{toLower(variables('composeArray')[2])}"
                                            },
                                            {
                                                "Tag":  "@{toLower(variables('composeArray')[3])}"
                                            },
                                            {
                                                "Tag":  "@{toLower(variables('composeArray')[4])}"
                                            }
                                        ]
                                    }
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "put",
                                "path":  "/Incidents"
                            }
                        },
                        "arrayTags":  {
                            "runAfter":  {
                                "Compose":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "composeArray",
                                        "type":  "array",
                                        "value":  "@outputs('Compose')"
                                    }
                                ]
                            }
                        },
                        "classified_explain":  {
                            "runAfter":  {
                                "Explain_classify":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "classified explain",
                                        "type":  "string",
                                        "value":  "@body('Explain_classify')?['EvaluationResultContent']"
                                    }
                                ]
                            }
                        },
                        "classify_incident":  {
                            "runAfter":  {
                                "Initialize_variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Based on this investigation details, classify this incident based on the following rules. If it appears malicious, label it as \"high\". If it appears suspicious, label it as \"medium\". If it is not clear, label it is \"low\". Only include the label in the response. ",
                                    "SessionId":  "@body('Report')?['sessionId']",
                                    "SkillName":  "AnalyzeSecurityData"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuresentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftSentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                            },
                            "securitycopilot_1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('SecuritycopilotConnectionName'))]",
                                "connectionName":  "[variables('SecuritycopilotConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Securitycopilot')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "Created By":  "Yaniv Shasha",
                "CreatedDate":  "11/21/2023 8:37:47 PM",
                "CreatorUPN":  ""
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('SecuritycopilotConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('SecuritycopilotConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('SecuritycopilotConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Securitycopilot')]"
                }
            }
        }
    ]
}
