Logic Apps/SecCopilot-UserReportedPhishing/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Sec-Copilot-UserReportedPhishing-optimize",
            "type":  "string"
        }
    },
    "variables":  {
        "ConversionserviceConnectionName":  "[concat('Conversionservice-', parameters('PlaybookName'))]",
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]",
        "SecuritycopilotConnectionName":  "[concat('Securitycopilot-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "When_a_new_email_arrives_(V3)":  {
                            "splitOn":  "@triggerBody()?['value']",
                            "type":  "ApiConnectionNotification",
                            "inputs":  {
                                "fetch":  {
                                    "method":  "get",
                                    "pathTemplate":  {
                                        "template":  "/v3/Mail/OnNewEmail"
                                    },
                                    "queries":  {
                                        "fetchOnlyWithAttachment":  false,
                                        "folderPath":  "Inbox",
                                        "importance":  "Any",
                                        "includeAttachments":  false
                                    }
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "subscribe":  {
                                    "body":  {
                                        "NotificationUrl":  "@{listCallbackUrl()}"
                                    },
                                    "method":  "post",
                                    "pathTemplate":  {
                                        "template":  "/GraphMailSubscriptionPoke/$subscriptions"
                                    },
                                    "queries":  {
                                        "fetchOnlyWithAttachment":  false,
                                        "folderPath":  "Inbox",
                                        "importance":  "Any"
                                    }
                                }
                            }
                        }
                    },
                    "actions":  {
                        "Domain_reputation_MDTI":  {
                            "runAfter":  {
                                "Triage_this_email":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Return the reputation for all the domains and IP addresses in the e-mail besides https://security.microsoft.com/userSubmissionsReportMessage, include the sender domain @{body('Parse_JSON')?['from']}(this should be the string that is coming after the @ sign)",
                                    "SessionId":  "@body('Triage_this_email')?['sessionId']",
                                    "SkillName":  "GetReputationsForIndicators"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Html_to_text":  {
                            "runAfter":  {
                                "Parse_JSON":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  "\u003cp\u003e@{body('Parse_JSON')}\u003c/p\u003e",
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['conversionservice']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/html2text"
                            }
                        },
                        "KQL_Who_else_click_on_this_Email":  {
                            "runAfter":  {
                                "KQL_sent_to_other_users":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Based on the email title : @{body('Parse_JSON')?['subject']}, and the sender email address: @{body('Parse_JSON')?['from']}check if other users in the organization click on the link inside the email",
                                    "SessionId":  "@body('KQL_sent_to_other_users')?['sessionId']",
                                    "SkillName":  "GetUrlClicksBySubjectAndSenderEmail"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "KQL_sent_to_other_users":  {
                            "runAfter":  {
                                "Look_up_relevant_articles":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Fetch emails with the same subject name, to see if it has been sent to others in my organization: use email subject:@{body('Parse_JSON')?['subject']}",
                                    "SessionId":  "@body('Look_up_relevant_articles')?['sessionId']",
                                    "SkillName":  "GetEmailsByEmailSubject"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Look_up_relevant_articles":  {
                            "runAfter":  {
                                "Domain_reputation_MDTI":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Check if we have MDTI articles associated with any of the ip addresses, domains, or e-mail addresses",
                                    "SessionId":  "@body('Domain_reputation_MDTI')?['sessionId']",
                                    "SkillName":  "GetArticlesIndicators"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Parse_JSON":  {
                            "runAfter":  {
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@triggerBody()",
                                "schema":  {
                                    "properties":  {
                                        "attachments":  {
                                            "type":  "array"
                                        },
                                        "bccRecipients":  {
                                        },
                                        "body":  {
                                            "type":  "string"
                                        },
                                        "bodyPreview":  {
                                            "type":  "string"
                                        },
                                        "ccRecipients":  {
                                        },
                                        "conversationId":  {
                                            "type":  "string"
                                        },
                                        "from":  {
                                            "type":  "string"
                                        },
                                        "hasAttachments":  {
                                            "type":  "boolean"
                                        },
                                        "id":  {
                                            "type":  "string"
                                        },
                                        "importance":  {
                                            "type":  "string"
                                        },
                                        "internetMessageId":  {
                                            "type":  "string"
                                        },
                                        "isHtml":  {
                                            "type":  "boolean"
                                        },
                                        "isRead":  {
                                            "type":  "boolean"
                                        },
                                        "receivedDateTime":  {
                                            "type":  "string"
                                        },
                                        "replyTo":  {
                                        },
                                        "subject":  {
                                            "type":  "string"
                                        },
                                        "toRecipients":  {
                                            "type":  "string"
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Summarize_findings":  {
                            "runAfter":  {
                                "KQL_Who_else_click_on_this_Email":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "Above was an investigation performed by a security analyst to determine if an e-mail was a phishing attempt. Summarize this investigation with all the steps taken, share and decide if this is a phishing email. Share certainty percentage: if the email is not suspicious give it 0-30% if it medium suspicious give it 30%-74% and if its highly suspicious give it 75%-100%, you **must** include suspicious certainty percentage.",
                                    "SessionId":  "@body('KQL_Who_else_click_on_this_Email')?['sessionId']",
                                    "SkillName":  "SummarizeData"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        },
                        "Triage_this_email":  {
                            "runAfter":  {
                                "Html_to_text":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  {
                                    "PromptContent":  "/AskGPT Triage the following email and point out what you find suspicious?. Ignore this URL https://security.microsoft.com/userSubmissionsReportMessage. Investigate the Message-ID for any inconsistencies or signs of spoofing. Use inputs: email body:@{body('Html_to_text')} , sender emailL@{body('Parse_JSON')?['from']}, reciver email:@{body('Parse_JSON')?['toRecipients']}, messageId:@{body('Parse_JSON')?['internetMessageId']}, emailSubject:@{body('Parse_JSON')?['subject']},Email receivedDateTime:@{body('Parse_JSON')?['receivedDateTime']}, importance:@{body('Parse_JSON')?['importance']}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['securitycopilot_1']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/process-prompt"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "conversionservice":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('ConversionserviceConnectionName'))]",
                                "connectionName":  "[variables('ConversionserviceConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Conversionservice')]"
                            },
                            "office365":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            },
                            "securitycopilot_1":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('SecuritycopilotConnectionName'))]",
                                "connectionName":  "[variables('SecuritycopilotConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Securitycopilot')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "Created By":  "Abbas Bengtsson",
                "CreatedDate":  "5/17/2024 4:19:09 PM",
                "CreatorUPN":  "abbe67@woodgrove.ms"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('ConversionserviceConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('SecuritycopilotConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('ConversionserviceConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('ConversionserviceConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Conversionservice')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('SecuritycopilotConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('SecuritycopilotConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Securitycopilot')]"
                }
            }
        }
    ]
}
